.product-hover-effect:hover .product-image {
  transform: scale(1.05); /* Subtle zoom on image */
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: color 0.2s ease-in-out;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
