@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
    font-family: "Rajdhani", sans-serif;
}

   @keyframes fillAnimation {
      from { width: 0%; }
      to { width: var(--progress); }
    }
    .progress-bar {
      animation: fillAnimation 2s ease-in-out forwards;
    }


    /* typing animation er jono */
    /* এই অংশটি HTML এর <style> ট্যাগের মধ্যে বা আপনার style.css এ রাখতে পারেন */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
.blinking-cursor::after {
    content: '|';
    animation: blink 0.7s infinite;
}



.container{
    max-width: 1440px;
    margin: auto;
    /* box-shadow: 0px 4px px -1px rgba(0, 0, 0, 0.5); */
    
   
    
}



.navlinks{
    position: relative;
    
} 

.navlink::after{
    position: absolute;
    content: "";
    bottom: -5px;
    left:0;
    height: 2px;
   
    width: 0;
    background-color: red;
    transition: 0.5s;
} 

.lavlink:hover::after{
    width: 100%;
    
} 


.bg-card {
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s; 
    }

.bg-card:hover {
transform: translateY(-5px);    
box-shadow: 0 0 15px rgba(233, 30, 99, 0.5); 
border-color: #e91e63; 
}
