@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');



 
body{
       min-height: 100vh;

    background-image: linear-gradient(
        to bottom right,
        #0f172a, 
        #1e293b, 
        #3730a3  
    );

    color: #f1f5f9; 
}
.font-Rajdhani{
font-family: "Rajdhani";

}

/* skill section  */
@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.skills-scroll {
  display: flex;
  width: max-content;

  /* 👇 speed & smoothness */
  animation: scroll 40s linear infinite;

  /* 👇 GPU acceleration */
  will-change: transform;
  backface-visibility: hidden;
}

.skills-wrapper {
  overflow: hidden;
}


/* skill section end  */






.container-custom{
  max-width:1480px;
  margin-left:auto;
  margin-right:auto;
  padding-left:1.5rem;
  padding-right:1.5rem;

}
    
    .glass{background:linear-gradient(180deg, rgba(255,255,255,0.03), rgba(255,255,255,0.02));backdrop-filter:blur(6px);border:1px solid rgba(255,255,255,.06)}
    
      
    .nav-link::after{
      content:"";
      position:absolute;
      left:0;
      bottom:-4px;
      width:0;
      height:2px;
      background:#ff4f9a;
      transition:0.3s;
    }
    .nav-link:hover::after{
      width:100%;
    }
   
    .hire-btn{
      transition:0.3s;
    }
    .hire-btn:hover{
      transform:scale(1.07);
      box-shadow:0 0 18px #ff4f9a;
    }





    /* footer */
   
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }

  .footer-animate {
    animation: fadeUp 1s ease-out forwards;
  }

  .logo-float {
    animation: float 3s ease-in-out infinite;
  }





