@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');



 /* font-family: "Rajdhani"; */
body{
       min-height: 100vh;

    background-image: linear-gradient(
        to bottom right,
        #0f172a, 
        #1e293b, 
        #3730a3  
    );

    color: #f1f5f9; 
}
.font-Rajdhani{
font-family: "Rajdhani";

}




.container-custom{max-width:1380px;margin-left:auto;margin-right:auto;padding-left:1.5rem;padding-right:1.5rem;}
    /* subtle glass cards */
    .glass{background:linear-gradient(180deg, rgba(255,255,255,0.03), rgba(255,255,255,0.02));backdrop-filter:blur(6px);border:1px solid rgba(255,255,255,.06)}
    body{cursor:pointer}
      /* nav hover underline */
    .nav-link::after{
      content:"";
      position:absolute;
      left:0;
      bottom:-4px;
      width:0;
      height:2px;
      background:#ff4f9a;
      transition:0.3s;
    }
    .nav-link:hover::after{
      width:100%;
    }
    /* hire me hover */
    .hire-btn{
      transition:0.3s;
    }
    .hire-btn:hover{
      transform:scale(1.07);
      box-shadow:0 0 18px #ff4f9a;
    }


